body{
    background-color: aquamarine;
}

h2{
    text-decoration: sol;
}

button {
    display:block;
    height:25px;
    width:200px;
    text-align: center;
    font-size: medium;
    font-weight: bolder;
    background-color: crimson;
    color:antiquewhite;
    



}

#output
{
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}
